@import "bootstrap";

$gray-medium-light: #eaeaea;

.navbar {
  padding-left: 20px;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-nav {
  padding: 10px;
}

.container-fluid {
  padding: 0;
}


/* Home */

/*↓home_topに変更したらよくなる*/
.top_title {
  background-image: url("top2.jpg");
  background-repeat:no-repeat;
  background-position:center bottom; /*背景画像を、横中央、底辺に配置。*/
  background-size: cover; /*背景画像をコンテンツの横幅いっぱいに表示する。*/
  padding: 200px 0;
  /*margin-bottom: -100px;*/
  width: 100%;
  color: #333333;
}

.top_title_b {
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  font-size: 64px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.titleDesc {
  text-align: center;
  margin: auto; 
  margin-bottom: 30px;
}

.whatsUp {
  text-align: center;
  margin: 10 auto;
}

.section-title::after {
    content: attr(data-subtitle);
    display: block;
    font-size: 24px;
    color: #aaa;
    
}

.desc {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  padding-left: 50px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #D3D3D3;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.follow_form {
  width: 100%;
}

.edit_destroy_button {
  
}

.new_post {
  padding-left: 50px;
}

/*footer*/

.footer {
  padding-left: 20px;
}

