<hr>
<footer class="footer">
  <nav class="footer__nav">
    <!-- <ul class="footer__ul">
      <li class="footer__li">
      </li>
    </ul> -->
    <div class="footer__copyright">
      &copy; 2021 NagashimaDaisetsu
    </div>
  </nav>
</footer>
